<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="style/images/favicon.png">
    <title>Moldova IT Park</title>
    <!-- Bootstrap core CSS -->
    <link href="style/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/css/plugins.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="style/css/color/purple.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href="style/type/icons.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="onepage">
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>
<div class="body-wrapper">

    <nav class="navbar navbar-default default">

        <div class="top-bar inverse-wrapper">
            <div class="container">
                <ul class="info pull-left">
                    <li><i class="icon-mail"></i> <a href="mailto:hello@email.com" class="email-link">hello@email.com</a></li>
                    <li><i class="icon-phone-1"></i>+00 (123) 456 78 90</li>
                </ul>
                <!-- /.info -->
                <ul class="social pull-right">
                    <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-s-linkedin"></i></a></li>

                </ul>
                <!-- /.social -->
                <div class="clearfix"></div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.top-bar -->


        <div class="container">
            <div class="navbar-header">
                <div class="basic-wrapper"><a class="btn responsive-menu" data-toggle="collapse"
                                              data-target=".navbar-collapse"><i></i></a>
                    <div class="navbar-brand"><a href="onepage.html"><img src="#"
                                                                          srcset="style/images/logo-dark.png 1x, style/images/logo-dark@2x.png 2x"
                                                                          class="logo-light" alt=""/><img src="#"
                                                                                                          srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x"
                                                                                                          class="logo-dark"
                                                                                                          alt=""/></a>
                    </div>
                    <!-- /.navbar-brand -->
                </div>
                <!-- /.basic-wrapper -->
            </div>

            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="current"><a href="#home">Acasă</a></li>
                    <li><a href="#about">Despre noi</a></li>
                    <li><a href="#list">Rezidenții parcului</a></li>
                    <li><a href="#utile">Utile</a></li>
                    <li><a href="#contact">Contacte</a></li>
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <section id="home">
        <div class="tp-fullscreen-container revolution">
            <div class="tp-fullscreen">
                <ul>

                    <li data-transition="fade"><img src="style/images/art/slider-bg1.jpg" alt=""
                                                    data-bgposition="center top" data-bgfit="cover"
                                                    data-bgrepeat="no-repeat"/>
                        <div class="tp-caption large sfb text-center" data-x="center" data-y="200" data-speed="900"
                             data-start="800" data-easing="Sine.easeOut">Viitor și Tehnologie. <br/>Moldova IT Park
                        </div>
                        <div class="tp-caption medium sfb text-center" data-x="center" data-y="340" data-speed="900"
                             data-start="1500" data-easing="Sine.easeOut">Credem cu certitudine într-un viitor
                            tehnologic, în care Moldova va deține cu mândrie pozițiile de top.
                        </div>
                        <div class="tp-caption sfb" data-x="center" data-y="400" data-speed="900" data-start="2200"
                             data-easing="Sine.easeOut" data-endspeed="100"><a href="#" class="btn btn-large">Aplică
                            acum</a></div>
                    </li>

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
            <!-- /.tp-fullscreen-container -->
        </div>
        <!-- /.revolution -->
    </section>
    <!--/#home -->


    <section id="about">
        <div class="light-wrapper">
            <div class="container inner">
                <div class="headline text-center">
                    <h2>Despre noi</h2>
                </div>
                <div class="row grid-view">

                    <h3 class="text-center">Mesaj de salut de la SERGHEI VOITOVSCHII - Administrator Moldova IT
                        Park</h3>
                    <blockquote>
                        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac
                            cursus commodo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus,
                            tellus ac
                            cursus commodo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus,
                            tellus ac
                            cursus commodo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus,
                            tellus ac
                            cursus commodo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus,
                            tellus ac
                            cursus commodo.</p>

                        <small class="meta">SERGHEI VOITOVSCHII - Administrator Moldova IT Park</small>
                    </blockquote>


                </div>
                <!--/.row -->
            </div>
            <!--/.container -->
        </div>
        <!-- /.light-wrapper -->
    </section>
    <!--/#about -->

    <div class="white-wrapper">
        <div class="col-image">
            <div class="bg-wrapper col-md-6">
                <div class="bg-holder" style="background-image: url(style/images/art/slider-bg2.jpg);"></div>
            </div>
            <!--/.bg-wrapper -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7 inner-col">
                        <div class="section-title">
                            <h3>Prezentare</h3>
                        </div>
                        <p class="lead">Credem cu certitudine într-un viitor
                            tehnologic, în care Moldova va deține cu mândrie pozițiile de top.</p>
                        <p>În scopul creării premiselor necesare pentru impulsionarea dezvoltării industriei tehnologiei
                            informației prin crearea locurilor de muncă cu valoare adăugată înaltă şi atragerea de
                            investiţii autohtone şi/sau străine și în virtutea art. 5, art. 10 al <a
                                    href="http://lex.justice.md/viewdoc.php?action=view&view=doc&id=365261&lang=1"
                                    class="link-effect">Legea nr.77 din 21.04.2016</a> cu privire la parcurile pentru
                            tehnologia informaţiei, a fost creat Parcul pentru
                            tehnologia informaţiei ”MOLDOVA IT PARK” pe un termen de 10 ani, cu începerea activității de
                            la 01 ianuarie 2018.
                        </p>


                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/.container -->
        </div>
        <!--/.col-image -->

    </div>
    <!-- /.white-wrapper -->


    <div class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">

                    <h3>Principalele genuri de activitate (conform CAEM rev.2) care se desfășoară în Parcul pentru
                        tehnologia informaţiei ”MOLDOVA IT PARK” sunt: </h3>
                    <ul class="circled">
                        <li> activități de realizare a soft-ului la comandă (software orientat la client) (62.01);</li>
                        <li> activități de editare a jocurilor de calculator (58.21);</li>
                        <li> activități de editare a altor produse software (58.29);</li>
                        <li> activități de management (gestiune și exploatare) a mijloacelor de calcul (62.03);</li>
                        <li> prelucrarea datelor, administrarea paginilor web și activități conexe (63.11);</li>
                        <li> activități ale portalurilor web (63.12);</li>
                        <li>activități de consultanță în tehnologia informației (62.02);</li>
                        <li>alte activități de servicii privind tehnologia informației (62.09).</li>
                    </ul>


                </div>
                <div class="col-sm-6">
                    <div class="divide10"></div>
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" class="panel-toggle"
                                                           data-parent="#accordion" href="#collapseOne"> DOCUMENTE
                                    NECESARE PENTRU A DEVENI REZIDENT
                                </a></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body"><strong>Pentru a deveni rezident al ”MOLDOVA IT PARK” sunt
                                    necesare următoarele documente:</strong>
                                    <ul class="circled">
                                        <li> Cerere în formă liberă cu solicitarea încheierii contractului și
                                            înregistrării în calitate de rezident, cu indicarea numelui/denumirii
                                            solicitantului, adresei/sediului juridic al solicitantului,
                                            genului/genurilor de activitate pe care intenționează să le desfășoare în
                                            Parc și termenului solicitat de activitate în Parc.
                                        </li>
                                        <li> Copia statutului/actului constitutiv sau a deciziei de înregistrare a
                                            companiei.
                                        </li>
                                        <li> Copia extrasului eliberat de Instituţia Publică „Agenţia Servicii Publice”
                                            (având un termen nu mai mare de 6 luni).
                                        </li>
                                        <li> După caz, procură ce confirmă împuternicirile solicitantului de a semna
                                            cererea de înregistrare în calitate de rezident al Parcului.
                                        </li>
                                    </ul>

                                    <strong>După depunerea documentelor menționate mai sus, se va semna următoarele
                                        acte:</strong>
                                    <ul class="circled">
                                        <li> Formular.</li>
                                        <li> Model Acord de confidențialitate.</li>
                                        <li> Model Contract cu privire la desfășurarea activității în Parcul pentru
                                            tehnologia informației ”MOLDOVA IT PARK”.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" class="panel-toggle"
                                                           data-parent="#accordion" href="#collapseTwo"> AVANTAJE ȘI
                                    FACILITĂȚI </a></h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body"><strong>Avantajele și facilitățile le găsiți în următoarele acte
                                    normative: </strong>
                                    <ul class="circled">
                                        <li>
                                            <a href="http://lex.justice.md/viewdoc.php?action=view&view=doc&id=365261&lang=1"
                                               class="link-effect">Legea nr.77 din 21.04.2016</a> cu privire la
                                            parcurile pentru tehnologia informaţiei
                                        </li>
                                        <li><a href="http://lex.justice.md/md/326971/" class="link-effect">Codul Fiscal
                                            al Republicii Moldova</a></li>
                                        <li><a href="http://lex.justice.md/md/328963/" class="link-effect">Legea nr. 180
                                            din 10.07.2008</a> cu privire la migraţia de muncă
                                        </li>
                                    </ul>


                                    <strong>De la Rezidentul parcului pentru tehnologia informației se va percepe
                                        impozit unic în mărime de 7% din venitul din vînzări, care include următoarele
                                        impozite şi taxe:</strong>
                                    <ul class="circled">

                                        <li>impozitul pe venit din activitatea de întreprinzător</li>
                                        <li>impozitul pe venit din salariu</li>
                                        <li>contribuţiile de asigurări sociale de stat obligatorii datorate de angajaţi
                                            şi angajatori
                                        </li>
                                        <li>primele de asigurare obligatorie de asistenţă medicală datorate de angajaţi
                                            şi angajatori
                                        </li>
                                        <li>taxele locale</li>
                                        <li> impozitul pe bunurile imobiliare</li>
                                        <li> taxa pentru folosirea drumurilor de către autovehicule înmatriculate în
                                            Republica Moldova
                                        </li>
                                    </ul>

                                    <strong>Salariații rezidenților parcului beneficiază de toate tipurile de prestații
                                        de asigurări sociale de stat din bugetul asigurărilor sociale de stat, conform
                                        legislaţiei în vigoare.</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" class="panel-toggle"
                                                           data-parent="#accordion" href="#collapseThree"> RAPOARTE DE
                                    ACTIVITATE </a></h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="list">
        <div class="white-wrapper">
            <div class="container inner">
                <div class="headline text-center">
                    <h2>Lista rezidenților parcului IT din Moldova</h2>
                    <!--<p class="lead animated-text letters type">-->
                    <!--<span>a multipurpose HTML5 template which is suitable for</span> <span-->
                    <!--class="animated-text-wrapper waiting"> <b class="is-visible">creative agencies</b> <b>personal blogs</b> <b>digital studios</b> <b>or any business owners</b> </span>-->
                    <!--</p>-->
                </div>

                <div class="divide30"></div>
                <div class="row services">
                    <div class="col-md-6">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure class="main"><a href="http://simpals.com"><img
                                    src="style/images/companies/simpals.png"/></a></figure>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="service">
                                <h4>Simpals</h4>
                                <ul>
                                    <li><strong>IDNO: </strong> 1003685855595</li>
                                    <li><strong>Genul de activitate: </strong> Being awesome</li>
                                    <li><strong>Numărul Certificatului: </strong> 000 000 000 000</li>
                                </ul>
                            </div>
                        </div>
                        <!--/.service -->
                    </div>


                    <div class="col-md-6">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure class="main"><a href="http://www.atic.md"><img
                                    src="style/images/companies/atic-01.png"/></a></figure>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="service">
                                <h4>Asociația Companiilor TIC din Moldova</h4>
                                <ul>
                                    <li><strong>IDNO: </strong> 1003685855595</li>
                                    <li><strong>Genul de activitate: </strong> <a href="#" class="link-effect"
                                                                                  title="activități de realizare a soft-ului la comandă (software orientat la client)"
                                                                                  data-rel="tooltip"
                                                                                  data-placement="top">CONFORM CAEM
                                        REV.2</a></li>
                                    <li><strong>Numărul Certificatului: </strong> 000 000 000 000</li>
                                </ul>
                            </div>
                        </div>
                        <!--/.service -->
                    </div>
                </div>
                <!-- /.row -->


                <div class="divide50"></div>
                <div class="row services">
                    <div class="col-md-6">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure class="main"><a href="http://www.microsoft.com"><img
                                    src="style/images/companies/microsoft-01.png"/></a></figure>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="service">
                                <h4>Microsoft Moldova</h4>
                                <ul>
                                    <li><strong>IDNO: </strong> 1003685855595</li>
                                    <li><strong>Genul de activitate: </strong> Being awesome</li>
                                    <li><strong>Numărul Certificatului: </strong> 000 000 000 000</li>
                                </ul>
                            </div>
                        </div>
                        <!--/.service -->
                    </div>


                    <div class="col-md-6">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <figure class="main"><a href="http://www.moldcell.md"><img
                                    src="style/images/companies/modlcel-01.png"/></a></figure>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="service">
                                <h4>Moldcell</h4>
                                <ul>
                                    <li><strong>IDNO: </strong> 1003685855595</li>
                                    <li><strong>Genul de activitate: </strong> Being awesome</li>
                                    <li><strong>Numărul Certificatului: </strong> 000 000 000 000</li>
                                </ul>
                            </div>
                        </div>
                        <!--/.service -->
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.light-wrapper -->
    </section>
    <!--/#services -->


    <section id="utile">
        <div class="inverse-wrapper inner">
            <div class="container">

                <div class="thin">
                    <div class="headline text-center">
                        <h2>Atașamente utile</h2>
                        <p class="lead">Descarcă toate documentele necesare pentru aplicare</p>
                    </div>
                    <!-- /.headline -->
                    <div class="divide30"></div>
                </div>

                <div class="row services">

                <div class="col-sm-6">
                    <div class="col-sm-3">
                        <div class="icon"><img src="style/images/icons/lulu-documents.png" alt=""/></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="service">
                            <h4>MODEL DE CERERE</h4>

                            <a href="#" class="btn btn-large">Descarcă</a>
                            <div class="divide60"></div>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="col-sm-3">
                        <div class="icon"><img src="style/images/icons/lulu-documents.png" alt=""/></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="service">
                            <h4>MODEL DE FORMULAR</h4>

                            <a href="#" class="btn btn-large">Descarcă</a>
                            <div class="divide60"></div>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="col-sm-3">
                        <div class="icon"><img src="style/images/icons/lulu-documents.png" alt=""/></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="service">
                            <h4>MODEL DE ACORD DE CONFIDENȚIALITATE</h4>

                            <a href="#" class="btn btn-large">Descarcă</a>
                            <div class="divide60"></div>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="col-sm-3">
                        <div class="icon"><img src="style/images/icons/lulu-documents.png" alt=""/></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="service">
                            <h4>MODEL DE CONTRACT/RAPORT</h4>

                            <a href="#" class="btn btn-large">Descarcă</a>
                            <div class="divide60"></div>

                        </div>
                    </div>
                </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.inverse-wrapper -->
    </section>




    <section id="contact">
        <div class="light-wrapper">
            <div class="container inner">
                <div class="thin">
                    <div class="section-title text-center">
                        <h3>contactează-ne</h3>
                    </div>

                    <ul class="contact-info text-center">
                        <li><i class="icon-location"></i>MD-2012, mun. Chișinău, str. Maria Cebotari, 28</li>
                        <li><i class="icon-phone"></i>+00 (123) 456 78 90</li>
                        <li><i class="icon-mail"></i><a href="first.last@email.com">first.last@email.com</a></li>
                    </ul>
                    <div class="divide50"></div>
                    <div class="form-container">

                        <form action="contact/vanilla-form.php" method="post" class="vanilla vanilla-form"
                              novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <label>
                                            <input type="text" name="name" placeholder="Nume Prenume" required="required">
                                            <i class="icon-user"></i></label>
                                    </div>
                                    <!--/.form-field -->
                                </div>
                                <!--/column -->
                                <div class="col-sm-6">
                                    <div class="form-field">
                                        <label>
                                            <input type="email" name="email" placeholder="E-mail"
                                                   required="required">
                                            <i class="icon-mail-alt"></i></label>
                                    </div>
                                    <!--/.form-field -->
                                </div>
                                <!--/column -->

                            </div>
                            <!--/.row -->
                            <textarea name="message" placeholder="Scrie mesajul aici..."></textarea>

                            <input type="submit" class="btn" value="trimite" data-error="Fix errors"
                                   data-processing="Se trimite..." data-success="Mulțumim!">
                            <footer class="notification-box"></footer>
                        </form>
                        <!--/.vanilla-form -->
                    </div>
                    <!--/.form-container -->
                </div>
                <!-- /.thin -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.light-wrapper -->
    </section>
    <!--/#contact -->


    <footer class="inverse-wrapper">
        <div class="container inner">

            <p class="copyright text-center">© 2018 ATIC. All rights reserved.</p>

        </div>
        <!-- .container -->

    </footer>
    <!-- /footer -->
</div>
<!--/.body-wrapper -->
<script src="style/js/jquery.min.js"></script>
<script src="style/js/bootstrap.min.js"></script>
<script src="style/js/plugins.js"></script>
<script src="style/js/jquery.themepunch.tools.min.js"></script>
<script src="style/js/scripts.js"></script>
</body>
</html>